---
---

@import "{{ site.theme }}";

body {
	background-color: #202020;
	color: #ffffff;
}

.page-header {
  background-color: #000000;
  background-image: linear-gradient(120deg, #000000, #ff033e);
}