---
---

@import "{{ site.theme }}";

body {
	background-color: #202020;
	color: #ffffff;
}
h1 {
	color: #800000;
}
h2 {
	color: #800000;
}
h3 {
	color: #800000;
}

.page-header {
  background-color: #000000;
  background-image: linear-gradient(120deg, #800000, #000000);
}